canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
    width: 100vw;
    transform: scale(1.01);
    height: 100%;
    filter: blur(1px) brightness(100%);
    transition: filter 1s
}
.mouse-overlay {
    position: relative;
    background-color: #222223;
    margin: 8rem;
    padding: .5rem;
    border-radius: 1rem;
    max-width: fit-content;
    &::before {
        content: '';
        position: absolute;
        pointer-events: none;
        inset: 0px;
        top: 0;
        left: 0;
        background: radial-gradient(200px circle at var(--x) var(--y), var(--color), transparent);
    }
    & > div {
        position: relative;
        padding: 2rem;
        background-color: #191920;
    }
}
.waves-top {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}
.waves-bottom {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}
.transition {
    animation: blur-transition 2s 1;
}
.divider > * {
    position: absolute;
    width: 100%;
    height: fit-content;
    background-repeat: repeat;
    background-size: cover;
    aspect-ratio: 960/192;
    &.top {
        bottom: -5vh;
        left: 0;
    }
    &.bottom {
        top: 5vh;
        left: 0;
    }
}
.layer1 {
    transform: translateY(60%);
    background-image: url(/public/assets/wave-top/top-1.svg);
}
.layer2 {
    transform: translateY(50%);
    background-image: url(/public/assets/wave-top/top-2.svg);
}
.layer3 {
    transform: translateY(40%);
    background-image: url(/public/assets/wave-top/top-3.svg);
}
.layer4 {
    transform: translateY(20%);
    background-image: url(/public/assets/wave-top/top-4.svg);
}
.layer5 {
    transform: translateY(10%);
    background-image: url(/public/assets/wave-top/top-5.svg);
}
.bottom-layer1 {
    transform: translateY(-60%);
    background-image: url(/public/assets/wave-bottom/bottom-1.svg);
}
.bottom-layer2 {
    transform: translateY(-50%);
    background-image: url(/public/assets/wave-bottom/bottom-2.svg);
}
.bottom-layer3 {
    transform: translateY(-40%);
    background-image: url(/public/assets/wave-bottom/bottom-3.svg);
}
.bottom-layer4 {
    transform: translateY(-20%);
    background-image: url(/public/assets/wave-bottom/bottom-4.svg);
}
.bottom-layer5 {
    transform: translateY(-10%);
    background-image: url(/public/assets/wave-bottom/bottom-5.svg);
}
.animation-end {
    transform: translateY(0);
    transition: all 1s;
}
.moving-bg {
    background: center / 20% repeat url(/public/assets/background.svg);
    animation: bg-slide 60s infinite linear;
}