:root {
    /* Controlled by JS */
    --x: 0;
    --y: 0;
    --color: var(--text-hover);
    /* Font sizes */
    --s: .95rem;
    --m: 1rem;
    --l: 1.1rem;
    --xl: 1.5rem;
    --xxl: 3rem;
    /* Colors */
    --bg-main: #191920;
    --bg-dark: #171718;
    --bg-dark-trans: #171718f5;
    --text-hover: #7fbe97;
    --text-main: #eee;
    --text-second: #ccc;
    --text-dim: #777;
    /**/
}
* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    letter-spacing: 1px;
    line-height: 3rem;
    color: var(--text-main);
    user-select: none;
}
::-webkit-scrollbar {
    display: none;
}
html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body, html {
    scroll-snap-type: y mandatory;
    background-color: transparent;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    position: sticky;
    top: 0;
    left: 0;
    margin-bottom: -8vh;
    height: 8vh;
    z-index: 1;
    background-color: var(--bg-dark-trans);
    & * {
        min-width: 25%;
        text-align: center;
        transition: color .5s;
        font-size: var(--l);
        padding: .5rem;
    }
    /* style hovered option, dim others */
    & a:hover {
        color: var(--text-hover);
    }
    & a:hover ~ a,
    a:has(~a:hover) {
        color: var(--text-dim);
    }
    & a {
        color: inherit;
    }
    & .header-right {
        margin-left: auto;
    }
    transition: top 1s;
}
.hero {
    height: 100vh;
    margin-bottom: 10vh;
    & h1 {
        font-size: var(--m);
        color: var(--text-dim);
    }
    & h2 {
        font-size: var(--xxl);
    }
    & p {
        font-size: var(--l);
        color: var(--text-second);
    }
}
.transition {
    animation: 5s 1 hero-hello;
}
section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.card {
    max-width: fit-content;
    padding: 2rem;
    background-color: #171718;
    & > * {
        font-size: var(--l);
    }
}
h2 {
    font-size: var(--xl);
}
/* utility classes */
.inline-link {
    color: #eee;
    font-weight: 500;
    background-image: url(/public/assets/cursor.svg);
    background-repeat: no-repeat;
    background-size: 20%;
    animation: 2s cursor infinite;
    padding: 3rem;
    margin: -3rem;
}
.inline-link:hover {
    color: #aaa;
}
.text-shadow {
    text-shadow: #0005 0.5rem 0.5rem 1rem;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}