:root {
    /* Controlled by JS */
    --x: 0;
    --y: 0;
    --color: #ffffff;
    /* Font sizes */
    --s: .5rem;
    --m: 1rem;
    --l: 1.25rem;
    --xl: 1.5rem;
    --xxl: 3rem;
    /* Colors */
    --bg-main: #191920;
    --bg-dark: #171718;
    --text-bright: #f9f9f9;
    --text-main: #e9e9e9;
    --text-dim: #a9a9a9;
}
* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    letter-spacing: 2px;
    color: var(--text-main);
    user-select: none;
}
::-webkit-scrollbar {
    display: none;
}
html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body, html {
    background-color: transparent;
    scroll-snap-type: y mandatory;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
header {
    position: sticky;
    top: 0;
    left: 0;
    margin: 0 auto;
    padding: 0 25vw;
    z-index: 1;
    max-width: 100vw;
    background-color: #171718fc;
    & > * {
        height: 100%;
        min-width: 25%;
        text-align: center;
        padding: 2rem;
    }
    & a:hover {
        color: var(--text-bright);
    }
    & a:hover ~ a,
    a:has(~a:hover) {
        color: var(--text-dim);
    }
    & a {
        color: inherit;
    }
}
.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10vh;
    & h1 {
        font-size: var(--xxl);
    }
    & h2 {
        text-shadow: none;
        font-size: 1.2rem;
        animation: 1s 4s infinite pulse, .5s 4s 1 blur-transition;
    }
}
section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.card {
    max-width: fit-content;
    padding: 2rem;
    background-color: #171718;
    border-radius: 1rem;
    & > * {
        font-size: var(--l);
    }
}
h2 {
    font-size: var(--xl);
}
/* utility classes */
.inline-link {
    color: #eee;
    font-weight: 500;
    background-image: url(/public/assets/cursor.svg);
    background-repeat: no-repeat;
    background-size: 20%;
    animation: 2s cursor infinite;
    padding: 3rem;
    margin: -3rem;
}
.inline-link:hover {
    color: #aaa;
}
.scroll-snap-point {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}
.text-shadow {
    text-shadow: #0005 0.5rem 0.5rem 1rem;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}